<div class="well well-large form-standard">
  <form class="new_teacher" id="teacher_registration_form" action="/teachers" accept-charset="UTF-8" method="post">
    <div class="text-center">
      <h4>Registration</h4>
    </div>
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <div class="form-group">
      <span><i class="fa fa-user"></i> | Name</span>
      <input id="teacher_first_name" type="text" class="form-control group-form-input" name="teacher[first_name]" placeholder="First Name">
      <input id="teacher_last_name" type="text" class="form-control group-form-input" name="teacher[last_name]" placeholder="Last Name">
    </div>

    <div class="form-group">
      <span><i class="fa fa-envelope"></i> | Email </span>
      <input  id="teacher_email" autofocus="autofocus" type="email" class="form-control group-form-input" name="teacher[email]" >
    </div>

    <div class="form-group">
      <span><i class="fa fa-lock fa-lg"></i> | Password (8 chars minimum)</span>
      <input id="teacher_password" autocomplete="off" type="password" class="form-control group-form-input" name="teacher[password]">
    </div>

    <div class="form-group">
      <span><i class="fa fa-lock fa-lg"></i> | Password Confirmation</span>
      <input id="teacher_password_confirmation" autocomplete="off" type="password" class="form-control group-form-input" name="teacher[password_confirmation]">
    </div>

    <div class="form-group">
      <span><i class="fa fa-phone"></i> | Phone Number</span>
      <input id="teacher_phone" type="tel" class="form-control group-form-input" name="teacher[phone_number]">
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="Sign up" class="btn btn-primary btn-sm">
    </div>
  </form>
</div>

<div class="text-center">
  <br>
  <p>already have an account? <%= link_to "login here", new_teacher_session_path %></p>
</div>
