<div class="wrap">
  <div class="box" id="school-portal">
    <a href="/schools"></a>
  </div>

  <div class="box" id="teacher-portal">
    <a href="/teachers"></a>
  </div>
</div>

<div class="wrap">
  <div class="box">
    <h4>School Portal</h4>
  </div>

  <div class="box">
    <h4>Teacher Portal</h4>
  </div>
</div>
