<div class="well well-large form-standard">
  <form class="new_school" id="school_registration_form" action="/schools" accept-charset="UTF-8" method="post">
    <div class="text-center">
      <h4>Registration</h4>
    </div>

    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <div class="form-group">
      <span><i class="fa fa-envelope"></i> | Email </span>
      <input  id="school_email" autofocus="autofocus" type="email" class="form-control group-form-input" name="school[email]">
    </div>

    <div class="form-group">
      <span><i class="fa fa-lock fa-lg"></i> | Password (8 chars minimum)</span>
      <input id="school_password" autocomplete="off" type="password" class="form-control group-form-input" name="school[password]">
    </div>

    <div class="form-group">
      <span><i class="fa fa-lock fa-lg"></i> | Password Confirmation</span>
      <input id="school_password_confirmation" autocomplete="off" type="password" class="form-control group-form-input" name="school[password_confirmation]">
    </div>

    <div class="form-group">
      <span><i class="fa fa-university"></i> | School Name </span>
      <input  id="school_name" type="text" class="form-control group-form-input" name="school[school_name]">
    </div>

    <div class="form-group">
      <span><i class="fa fa-phone fa-lg"></i> | Phone Number </span>
      <input  id="school_contact_phone" type="tel" class="form-control group-form-input" name="school[contact_phone]">
    </div>

    <div class="form-group">
      <span><i class="fa fa-globe fa-lg"></i> | Address </span>
      <input  id="school_address" type="address" class="form-control group-form-input" name="school[address]">
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="Sign up" class="btn btn-primary btn-sm">
    </div>
  </form>
</div>

<div class="text-center">
  <br>
  <p>already have an account? <%= link_to "login here", new_school_session_path %></p>
</div>
