<div id="form-standard" class="col-md-4 col-md-offset-4 well well-large ">
  <form class="new_school" id="new_school" action="/schools" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input  id="school_email" autofocus="autofocus" type="email" class="form-control" name="school[email]" placeholder="email">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="school_password" autocomplete="off" type="password" class="form-control" name="school[password]" placeholder="password (min. 8 characters)">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="school_password_confirmation" autocomplete="off" type="password" class="form-control" name="school[password_confirmation]" placeholder="password confirmation">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
      <input  id="school_name" type="school_name" class="form-control" name="school[school_name]" placeholder="school name">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
      <input  id="school_contact_phone" type="tel" class="form-control" name="school[contact_phone]" placeholder="contact phone #">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
      <input  id="school_address" type="address" class="form-control" name="school[address]" placeholder="address">
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="Sign up" class="btn btn-primary">
    </div>
  </form>
</div>

<div class="text-center">
  <br>
  <p>already have an account? <%= link_to "login here", new_school_session_path %></p>
</div>
