<div class="text-center">
  <h4>Recent Requests</h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to "#{request.request_name}", request_path(request) %></td>
        <td><%= request.format_date %></td>
        <td><%= request.format_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
