<div id="login" class="well well-large">
  <form class="new_teacher" id="new_teacher" action="/teachers/sign_in" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input autofocus="autofocus" id="teacher_email" type="email" class="form-control" name="teacher[email]" placeholder="Email">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="teacher_password" autocomplete="off" type="password" class="form-control" name="teacher[password]" placeholder="Password">
    </div>

      <div class="input-group">
        <input name="teacher[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="teacher[remember_me]" id="teacher_remember_me">
        <label for="teacher_remember_me">Remember me</label>
      </div>

    <div class="actions">
      <input type="submit" name="commit" value="Log in" class="btn btn-success">
      <%= link_to "Sign up", new_teacher_registration_path, class: "btn btn-info" %>
    </div>

  </form>
</div>
