/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Unica+One);
 @import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700);

$header-fonts: "Unica One", Helvetica, Arial, sans-serif;
$body-fonts: "Vollkorn", Helvetica, Arial, sans-serif;

// GENERAL
body {
  padding-top: 70px;
  font-family: $body-fonts;
}

h4 .btn-group {
  display: inline-block;
}

h4 .btn-group .btn {
  margin: -5px;
  margin-right: 5px
}
.wrap {
  position: relative;
	z-index: 8888;
	height: 100%;
	width: 100%;
  text-align: center;
}

.box {
	width: 300px;
	height: 300px;
  border-radius: 20%;
  display: inline-block;
  margin:15px;
  text-align: center;
}

.box a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#school-portal {
  background: image_url("library.jpg");
}

#teacher-portal {
  background: image_url("teacher_desk2.jpg");
}

.alert {
  width: 75%;
  margin: 0px auto 20px;
}

// BOOTSTRAP OVERRIDE
label {
  font-weight: normal;
  margin-left: 5px;
}




// FORMS
.group-form-input {
  margin-top: 5px;
}

#form-standard {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 18px #ccc;
}

form div {
  margin-bottom: 5px;
}

.form-group span {
  display: block;
  border-bottom: 1px solid rgba(51, 51, 51, .4);
}

#remember_me {
  margin-left: 30px;
}
